<p id="notice"><%= notice %></p>

<h1><%= t('.title_html') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.mr_html') %></th>
      <th><%= t('.name_html') %></th>
      <th><%= t('.age_html') %></th>
      <th><%= t('.gender_html') %></th>
      <th><%= t('.status_html') %></th>
      <th><%= t('.location_html') %></th>
      <th><%= t('.view_count_html') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.medical_record_number %></td>
        <td><%= patient.full_name %></td>
        <td><%= patient.age %></td>
        <td><%= t("patient.gender.#{patient.gender}") %></td>
        <td><%= t("patient.status.#{patient.status}") %></td>
        <td><%= link_to patient.location.name, location_path(patient.location) %></td>
        <td><%= patient.view_count %></td>
        <td><%= link_to t('.show'), patient %></td>
        <td><%= link_to t('.edit'), edit_patient_path(patient) %></td>
        <td><%= link_to t('.destroy'), patient, method: :delete, data: { confirm: t('.destroy_confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_patient_path %>
