<p id="notice"><%= notice %></p>

<p>
  <strong>MR:</strong>
  <%= @patient.medical_record_number %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @patient.full_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Status:</strong>
  <%= @patient.status %>
</p>

<p>
  <strong>Location:</strong>
  <%= @patient.location.name %>
</p>

<p>
  <strong>View count:</strong>
  <%= @patient.view_count %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
