<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.mr') %>:</strong>
  <%= @patient.medical_record_number %>
</p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @patient.full_name %>
</p>

<p>
  <strong><%= t('.birthday') %>:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong><%= t('.gender') %>:</strong>
  <%= t("patient.gender.#{@patient.gender}") %>
</p>

<p>
  <strong><%= t('.status') %>:</strong>
  <%= t("patient.status.#{@patient.status}") %>
</p>

<p>
  <strong><%= t('.location') %>:</strong>
  <%= @patient.location.name %>
</p>

<p>
  <strong><%= t('.view_count') %>:</strong>
  <%= @patient.view_count %>
</p>

<%= link_to t('.edit'), edit_patient_path(@patient) %> |
<%= link_to t('.back'), patients_path %>
