<p>
  <strong><%= t('.name') %>:</strong>
  <%= @location.name %>
</p>

<p>
  <strong><%= t('.code') %>:</strong>
  <%= @location.code %>
</p>

<p>
  <strong><%= t('.patient_list') %>:</strong>
  <ol>
    <% @location.patients.each do |patient| %>
      <li><%= link_to patient.full_name, patient_path(patient) %></li>
    <% end %>
  </ol>
</p>

<%= link_to t('.back'), root_path %>
